:root {
  --primary-color: #4933F2;
  --body-color: #304455;
}

body {
  margin: 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--body-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.page-layout {
  margin: 35px auto;
  max-width: 960px;
  width: 100%;
}

.hero {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.hero img {
  max-width: 75px;
}
.hero h1 {
  margin: 0;
  line-height: 1.1;
  color: var(--primary-color);
}
.hero h1 span {
  font-size: 0.5em;
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  transform: skewX(8deg);
  color: var(--body-color);
}
