.voltage__breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.voltage__breadcrumbs li:first-child a {
  margin-left: 0;
}

.voltage__breadcrumbs li:last-child a {
  margin-right: 0;
}

.voltage__breadcrumbs a,
.voltage__breadcrumbs span {
  display: inline-block;
  vertical-align: middle;
}

.voltage__breadcrumbs a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
  margin: 0 10px;
}

.voltage__breadcrumbs a:hover {
  text-decoration: underline;
}

.voltage__breadcrumbs > li:last-child a {
  font-weight: bold;
}

.voltage__breadcrumbs > li:not(:last-child):not(.voltage__breadcrumbs__dropdown) a {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.voltage__breadcrumbs__dropdown {
  position: relative;
  z-index: 2;
}
.voltage__breadcrumbs__dropdown > ul {
  margin: 0;
  padding: 5px;
  list-style: none;
  background-color: white;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
  border-radius: 4px;
  max-width: 300px;
  width: 100vw;
}

.voltage__breadcrumbs__dropdown > ul a {
  display: block;
  padding: 8px 5px;
  border-radius: 4px;
  margin: 0;
  margin-bottom: 3px;
}

.voltage__breadcrumbs__dropdown > ul a:hover {
  background-color: #f4f4f4;
}
